*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
}
i,
svg {
    pointer-events: none;
}

.kick-pad,
.snare-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;

}
.hihat-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}
.kick-pad{
    background: rgb(160, 211, 224);
}
.snare-pad{
    background: rgb(228, 100, 15);
}
.hihat-pad{
    background: rgb(71, 230, 31);
}
.kick-pad.active{
    background: rgb(81, 199, 228);
}
.snare-pad.active{
    background: rgb(226, 91, 0);
}
.hihat-pad.active{
    background: rgb(49, 232, 3);
}

.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}
.kick,
.snare,
.hihat{
    display: flex;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;

}
.controls button{
    padding: 1rem;
    border: none;
    background: grey;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.pad{
    transition: all 0.5s ease;
}
.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(88,88,88);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;

}

select{
    padding: 1rem;
    font-size: 1rem;
    
}


